canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
}

body {
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-text{
    font-size: 3vh;
}
.nav-text-link{
    font-size: 2.5vh;
}


.index-name{
    text-align: center;
    position: fixed;
    top: 30vh;
    color: white;
    font-size: 7.5vh;
}
.index-status{
    text-align: center;
    position: fixed;
    bottom: 15vh;
    color: white;
    font-size: 3.4vh;
}
.index-icons{
    text-align: center;
    position: fixed;
    bottom: 9vh;
    font-size: 3.4vh;
    filter: brightness(0) invert(1);
}
.zind{
    z-index: 10;
}